.hero-container {
  width: 90%;
  max-width: 1200px;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hero-info {
  font-size: 40px;
  width: 60%;
  white-space: pre-line;
}

.Typewriter__wrapper {
  white-space: pre-wrap;
  line-height: 1.4;
}

.pikachu-gif {
  width: 60px;
}

.my-name {
  font-size: 80px;
  font-weight: 700;
}

.btn-container {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pixel-btn.mono {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-family: "RetroGaming";
  background: #fff;
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
  padding: 16px 36px;
  border: 4px solid #000;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 0 #000;
  image-rendering: pixelated;
  width: 200px;
}

/* hover */
.pixel-btn.mono:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 #000;
}

/* active (pressed) */
.pixel-btn.mono:active {
  transform: translate(4px, 4px);
  box-shadow: 0 0 0 #514e4e;
}

.profile-img {
  width: 400px;
}

.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .hero-info {
    width: 100%;
    font-size: 18px;
    margin: 30 0 0 0;
  }

  .pikachu-gif {
    width: 36px;
  }

  .my-name {
    font-size: 32px;
    line-height: 1.2;
  }

  .btn-container {
    width: 100%;
    margin-top: 24px;
    flex-direction: column;
    gap: 16px;
    order: 2;
  }

  .pixel-btn.mono {
    width: 90%;
    max-width: 280px;
    font-size: 18px;
    padding: 14px 0;
  }

  .profile-img {
    width: 260px;
  }
}
