.npc-section {
  display: flex;
  justify-content: center;
  font-family: "RetroGaming";
}

.npc-box {
  background: #0b0b0b;
  border: 2px solid #ffffff;
  border-radius: 14px;
  padding: 24px;
  width: 500px;
  height: 400px;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.npc-dialogue {
  margin-top: 6px;
  font-size: 24px;
  text-align: center;
}

.npc-actions {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.npc-actions button {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "RetroGaming";
  font-size: 20px;
  word-spacing: 10px;
  letter-spacing: 2px;
}

.social-panel {
  border: 2px dashed #ffffff;
  border-radius: 16px;
  padding: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.social-panel button {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #111;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "RetroGaming";
  font-size: 16px;
  word-spacing: 10px;
  letter-spacing: 2px;
}

.npc-popup {
  position: fixed;
  bottom: 30px;
  background: #ffffff;
  color: #000000;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: bold;
}
