nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.nav-btn {
  font-size: 20px;
  color: #ffffff;
  font-family: "RetroGaming";
  border: none;
  background-color: transparent;
  display: inline-block; /* important */
  transition: transform 0.2s ease;
}

.nav-btn:hover {
  transform: scale(1.3);
}
