.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  border-top: 2px dashed #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  z-index: 999;
}

.mobile-footer button {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
