.main-container {
  font-family: "RetroGaming";
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
